# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# WhatsApp session credentials (created on first run, after QR login)
auth_info_baileys/

# Logs
npm-debug.log*
*.log

# Editors
.idea/
.vscode/

# OS
.DS_Store
